.swal2-title {
    font-size: 20px;
    color: rgb(201, 214, 222) !important;
}

.swal2-image {

    border-radius: 64px;
}

.swal2-popup {
    background-color: rgb(2, 27, 57) !important;
    border-radius: 10px; 
    color: rgb(201, 214, 222);
}

.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}


.swal2-confirm {
    border: none !important;
    background-color:  rgb(2, 27, 57) !important;
    &:hover {
        background-color: rgb(112, 163, 192) !important;
    }
}

.swal2-deny {
    background-color: grey !important;
    &:hover {
        background-color: rgb(11, 64, 98) !important;
    }
}