.button-container {
  // min-width: 165px;
  width: fit-content;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 10px;


  &:hover {
    background-color: white;
    color: black;
    // border: 1px solid black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  // &.inverted {
  //   background-color: white;
  //   color: black;
  //   border: 1px solid black;

  //   &:hover {
  //     background-color: rgb(63, 56, 70);
  //     color: white;
  //     border: none;
  //   }
  // }

  &.neon {
    background-color: rgb(31, 69, 81);
    color: rgb(80, 170, 239);
    border: 1px solid rgb(80, 170, 239);

    &:hover {
      background-color: rgb(80, 170, 239);
      color: rgb(31, 69, 81);
    }
  }

  &.edit {
    background-color: rgb(43, 201, 166);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);

    &:hover {
      background-color: rgb(255, 255, 255);
      color: rgb(31, 69, 81);
    }
  }

  &.remove {
    background-color: rgb(206, 54, 115);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);

    &:hover {
      background-color: rgb(255, 255, 255);
      color:rgb(50, 3, 14);
    }
  }
}
.scroll-to-top-btn {

  position: fixed;
  border: 0px;
  background-color:  rgba(107, 80, 239, 0.5);
  border-radius: 100px;
  padding: 1rem 2rem;
  font-size: 15px;
  bottom: 5px;
  right: 5px;
  width: 100px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: rgb(80, 141, 239);
    color: rgb(36, 15, 42);
  }
}