.sign-in-container {
  border: 4px double rgb(184, 155, 213);
  border-radius: 8px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  flex-direction: column;
  width: 380px;

  h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
    
  }

  span {
    font-size: 20px;
  }

  .sign-up {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
    
    a {
      font-weight: bolder;
      color: rgb(216, 163, 239);
    }
  }


  .buttons-container-sign-in {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
  }
}
