.sign-up-container {
  border: 4px double rgb(155, 203, 213);
  background-color:  rgb(19, 54, 66, 0.8);
  color: aliceblue;
  border-radius: 8px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  flex-direction: column;
  width: 380px;
  
  &:hover {
    background-color:  rgb(19, 54, 66);
  }

  h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
  }

  span {
    font-size: 20px;
  }

  .button-container-sign-up {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    flex-direction: column;
  }

}