:root {
  --backgroundImage: url(/assets/guitar12.jpg);
}

body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--backgroundImage);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: scroll;
}

footer {
  border-radius: 8px;
  color: rgb(131, 158, 183);
  font-weight: bold;
  text-align: center;
  position: fixed;
  overflow-y: auto;
  z-index: 50;
  width: 100%;
  bottom: 0px;
  padding: 8px;

  a {
    color: rgb(131, 158, 183);
  }
}

h2 {
  color: aliceblue;
  font-size: 30px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'CANDYINC';
  font-family: 'OldGateLaneNF';
  src: url('./fonts/CANDYINC.otf');
  src: url('./fonts/OldGateLaneNF.otf');
}